<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <h1>Lets chat!</h1>

    <form id="form">
        <div>
            <input type="number" name="user_id" placeholder="UserId">
            <input type="text" name="username" placeholder="Username">
        </div>
        <input type="text" name="message" placeholder="Message"/>
        <div>
            <button type="submit">Envoyer</button>
        </div>
    </form>

    <ul id="messages-history">
    </ul>

    <div id="messages"></div>

    <script type="text/javascript">
        const user = JSON.parse(atob(localStorage.getItem('authorization').split('.')[1]));
        const messages = {};
        let url = `ws://${window.location.host}/ws/chats/?${localStorage.getItem('authorization')}`;

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                if (!messages[data.sender])
                    messages[data.sender] = [];
                messages[data.sender].push(data.message)
                displayMessages()
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            let username = e.target.username.value 
            let user_id = e.target.user_id.value 
            chatSocket.send(JSON.stringify({
                'type': 'chat',
                'user_id': user_id,
                'username': username,
                'message':message
            }))
            if (!messages[username])
                messages[username] = [];
            messages[username].push(message)
            displayMessages()
            form.reset()
        })

        chatSocket.onclose = function(e){
            console.error('Chat socket closed unexpectedly')
        }

        chatSocket.onopen = function(e){
            console.log('Chat socket opened')
        }

        function displayMessages(){
            let messages_history = document.getElementById('messages-history');
            messages_history.innerHTML = ''
            for (let username in messages){
                console.log('Username:', username);
                console.log('User:', user.username);
                if (username === user.username || !messages[username].length)
                    continue;
                let messagesList = messages[username]
                console.log('Messages:', messagesList);
                messages_history.insertAdjacentHTML('beforeend', `<li>
                                        <h3>${username}</h3>
                                        <ul>
                                            ${messagesList.map(message => `<li>${message}</li>`).join('')}
                                        </ul>
                                    </li>`)
            }
        }

    </script>
</body>
</html>